bin/
obj/
**/bin/
**/obj/
**/bin*
**/obj*
.vs/
.vscode/
.idea/

node_modules/
.expo/
dist/
build/
web-build/

TestResults/
*.trx
*.coverage
*.coveragexml
coverage/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
.pnp.*
.expo-shared/

android/.gradle/
android/**/build/
ios/Pods/
ios/build/
**/*.xcuserstate
**/*.xcuserdata/

.DS_Store
*.user
*.suo
*.log

.env
.env.*
!.env.example
instruction.md
.env.example
